In [1]:
import numpy as np
import pandas as pd

#Import Data set
 Data downloaded from https://www.niftyindices.com/reports/historical-data

In [2]:
nifty50_2020 = pd.read_csv('NIFTY50_2020.csv', index_col= 0)
nifty50_2021 = pd.read_csv('NIFTY50_2021.csv', index_col= 0)
niftynext50 = pd.read_csv('NIFTY_Next50 _2019_21.csv', index_col= 0)

In [3]:
nifty50 = pd.concat([nifty50_2020,nifty50_2021])
nifty50.head()

                 Open      High       Low     Close
Date
20 Feb 2020  12119.00  12152.00  12071.45  12080.85
19 Feb 2020  12090.60  12134.70  12042.10  12125.90
18 Feb 2020  12028.25  12030.75  11908.05  11992.50
17 Feb 2020  12131.80  12159.60  12037.00  12045.80
14 Feb 2020  12190.15  12246.70  12091.20  12113.45

#Number of days Nifty was volatile
Calculation for volatility:
i.e High of the day is > 105% of Low

In [4]:
nifty50['Volatile'] = (nifty50['High']>(1.05* nifty50['Low']))
niftynext50['Volatile'] = (niftynext50['High']>(1.05* niftynext50['Low']))

Adding Nifty next 50 data to data frame

In [5]:
nifty50next50 = pd.concat([nifty50,niftynext50],axis=1, keys=['nifty50','niftynext50'])
nifty50next50.head()

              nifty50                      ... niftynext50
                 Open      High       Low  ...         Low     Close Volatile
20 Feb 2020  12119.00  12152.00  12071.45  ...    28627.55  28669.80    False
19 Feb 2020  12090.60  12134.70  12042.10  ...    28284.75  28630.75    False
18 Feb 2020  12028.25  12030.75  11908.05  ...    27750.75  28060.35    False
17 Feb 2020  12131.80  12159.60  12037.00  ...    28143.40  28169.60    False
14 Feb 2020  12190.15  12246.70  12091.20  ...    28453.50  28501.05    False

[5 rows x 10 columns]

Calculating Volatility across categories:
- Nifty 50 Volatile
- Nifty 50 Not Volatile
- Nifty next 50 Volatile
- Nifty next 50 Not volatile

In [6]:
Volatility = pd.Series([
                (nifty50next50['nifty50']['Volatile'][(nifty50next50['nifty50']['Volatile'] == True)]).size,
                (nifty50next50['nifty50']['Volatile'][(nifty50next50['nifty50']['Volatile'] == False)]).size,
                (nifty50next50['niftynext50']['Volatile'][(nifty50next50['niftynext50']['Volatile'] == True)]).size ,
                (nifty50next50['niftynext50']['Volatile'][(nifty50next50['niftynext50']['Volatile'] == False)]).size                
                ],
                index = ['Nifty 50 Volatile','Nifty50 Not Volatile','Nifty Next 50 Volatile','Nifty Next 50 Not Volatile']
                )
Volatility

Nifty 50 Volatile              14
Nifty50 Not Volatile          478
Nifty Next 50 Volatile         16
Nifty Next 50 Not Volatile    480
dtype: int64

Date from string

In [15]:
nifty50.index = pd.to_datetime(nifty50.index)
nifty50['Day']= nifty50.index.dayofweek
nifty50['Day']= nifty50['Day'].replace(to_replace =[0,1,2,3,4,5,6],value = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
nifty50.head()

                Open      High       Low     Close  Volatile  Day
Date
2020-02-20  12119.00  12152.00  12071.45  12080.85     False  Thu
2020-02-19  12090.60  12134.70  12042.10  12125.90     False  Wed
2020-02-18  12028.25  12030.75  11908.05  11992.50     False  Tue
2020-02-17  12131.80  12159.60  12037.00  12045.80     False  Mon
2020-02-14  12190.15  12246.70  12091.20  12113.45     False  Fri

In [22]:
nifty50['Month']= nifty50.index.month
nifty50.head()

                Open      High       Low     Close  Volatile  Day  Month
Date
2020-02-20  12119.00  12152.00  12071.45  12080.85     False  Thu      2
2020-02-19  12090.60  12134.70  12042.10  12125.90     False  Wed      2
2020-02-18  12028.25  12030.75  11908.05  11992.50     False  Tue      2
2020-02-17  12131.80  12159.60  12037.00  12045.80     False  Mon      2
2020-02-14  12190.15  12246.70  12091.20  12113.45     False  Fri      2

In [33]:
nifty50['Year']= nifty50.index.year
nifty50.head()

                Open      High       Low     Close  Volatile  Day  Month  Year
Date
2020-02-20  12119.00  12152.00  12071.45  12080.85     False  Thu      2  2020
2020-02-19  12090.60  12134.70  12042.10  12125.90     False  Wed      2  2020
2020-02-18  12028.25  12030.75  11908.05  11992.50     False  Tue      2  2020
2020-02-17  12131.80  12159.60  12037.00  12045.80     False  Mon      2  2020
2020-02-14  12190.15  12246.70  12091.20  12113.45     False  Fri      2  2020

# Compute Statistics 
i.e Mean,Median,Std etc.

Mean, Median, Std of Closing values my weekday

In [8]:
nifty50.groupby('Day')['Close'].mean()

Day
Fri    11586.594898
Mon    11512.454301
Sat    12221.050000
Sun    11627.150000
Thu    11592.050495
Tue    11555.597959
Wed    11539.017677
Name: Close, dtype: float64

In [9]:
nifty50.groupby('Day')['Close'].median()

Day
Fri    11603.900
Mon    11588.350
Sat    12221.050
Sun    11627.150
Thu    11596.700
Tue    11588.275
Wed    11549.600
Name: Close, dtype: float64

In [13]:
nifty50.groupby('Day')['Close'].std()

Day
Fri    1328.411168
Mon    1327.542079
Sat     790.828224
Sun            NaN
Thu    1349.942100
Tue    1364.347889
Wed    1405.049324
Name: Close, dtype: float64

Mean, Median, Std by month

In [26]:
print(nifty50.groupby('Month')['Close'].mean())
print(nifty50.groupby('Month')['Close'].median())
print(nifty50.groupby('Month')['Close'].std())

Month
1     13160.524419
2     12958.619737
3     10324.503750
4     10400.191892
5     10479.823171
6     10914.718293
7     11210.403261
8     11151.704878
9     11238.267073
10    11643.609756
11    12283.227500
12    12840.562791
Name: Close, dtype: float64
Month
1     12355.500
2     12110.675
3     11044.200
4     11575.950
5     11157.000
6     10383.000
7     11198.500
8     11101.650
9     11274.200
10    11662.400
11    12064.900
12    13109.050
Name: Close, dtype: float64
Month
1     1080.965385
2     1652.533238
3     1320.026314
4     1351.092051
5     1234.779180
6      883.974090
7      405.685797
8      223.308798
9      273.112900
10     238.859779
11     440.404312
12     765.228002
Name: Close, dtype: float64

On days that NIFTY closed higher than it opened, find Mean of (Close - Open)

In [32]:
df = nifty50[nifty50.Close>nifty50.Open]
(df['Close']-df['Open']).mean()

77.1183406113537

In the last year (2020) , how many days had high lower than previous days low

In [36]:
df = nifty50[nifty50.Year == 2020]

How many days did the days Close exceed the 30 day moving average in NIFTY 50